._footer{
	padding:9px 16px;
}
._mbbg{
	max-width: 987px;
	width: 100%;
	justify-content: space-between;
	margin:0 auto;
	padding:38px 28px;
	display: flex;
}


._mbbg>ul{

	list-style: none;
	
	font-size: 12px;
	color:#003569;
	font-family: 'sans-serif';
	font-weight: 600;
	
	
	
}
._mbbg>ul>li{
	margin-right: 15px;
	display: inline-block;
}
