._mbbg{
	width:100%;
	
}

._mbt{
	width:987px;
	height: 45px;
	display: flex;
	margin:0 auto;
}
._mbt>ul{

	list-style: none;
	display: flex;
	font-size: 12px;
	color:#003569;
	font-family: 'sans-serif';
	font-weight: 600;
	margin-left:-30px;
}
._mbt>ul>li{
	margin-right: 15px;
}
@media screen and (max-width: 987px){
	._mbt{display: none}
}