


  .mymodal {
  background-color: rgba(0,0,0,0.7);
   position: fixed;
  	width: 100%;
  	top: 0;
  	left: 0;
    	display: flex;
  	align-items: center;
  	justify-content: center;
      height: 100%;
}
.mybody{
	position: fixed;
	overflow-y:scroll;
	width:100%;
	
}
._myprogress{
	background: linear-gradient(to right,#F6076C, #8E11FF,#F90895,#FFC900,#F6076C);
	z-index:9999;
	width:100%;
	background-size:1400%;
	position: fixed;
	top:0;
	height:3px;
	animation:move 20s ease infinite;  
	-webkit-animation:move 20s ease infinite;
}