


  .mymodal {
  background-color: rgba(0,0,0,0.7);
   position: fixed;
  	width: 100%;
  	top: 0;
  	left: 0;
    	display: flex;
  	align-items: center;
  	justify-content: center;
      height: 100%;
}
.mybody{
	position: fixed;
	overflow-y:scroll;
	width:100%;
	
}
._progress{
	position:fixed!important;
	background: linear-gradient(to right,#F6076C, #F6105F,#F83F33,#F68113,#F6076C);
	z-index:99999;
	top:0;
	height:4px;
	width: 10%;
	transition: width 1s ease
}