

.loginBackground{
	background: linear-gradient(to right,#C53E72, #FA0559,#F80EA5,#F43B3B,#C53E72)!important;
	background-size:1400% 300%!important;
	animation:move 20s ease infinite;  
	-webkit-animation:move 20s ease infinite;
}
@keyframes move  
    {  
         0% {  
            background-position: 0% 0%; }  
            50% {  
            background-position: 50% 100%; }  
            100% {  
             background-position: 100% 0%; }  
    }  