

.loginBackground{
	background: linear-gradient(to right,#ee583f, #d92d77,#bd3381,#ee583f )!important;
	background-size:800% 300%!important;
	animation:move 20s ease infinite;  
	-webkit-animation:move 20s ease infinite;
    color:white;
}
@keyframes move  
    {  
         0% {  
            background-position: 0% 0%; }  
            50% {  
            background-position: 50% 100%; }  
            100% {  
             background-position: 100% 0%; }  
    }  