._uspageavatar{
	display: block;
	outline: none;
	border: 0;
	background:none;
	padding:0;
	cursor:pointer;
	padding-bottom: 0;
	width: 100%;
	height: 100%;
	position: relative;
}
._avatarlist{
	border-radius: 50%;
	overflow:hidden;
	width:75px;
	height: 75px;
}
._mymodal{
	background-color: rgba(0,0,0,0.4);
	overflow:hidden!important;
	z-index: 99999;
}
._avatarbuttonlist{
	width:400px;
	background-color: white;
	border-radius: 12px;
	display: flex;
	padding: 32px;
	flex-direction:column;
	justify-content: center;

}
._avatarlistContain{
 width:100%;
 display: flex;
 flex-direction:column;
}
._avatarlistTitle{
	margin-bottom: 18px;
}
._avatarlistTitle>h4{
  font-size: 18px;
  text-align: center;
}
._avatarbuttonGroup{
	display: flex;
	flex-direction: column;
	margin:0 -32px -32px;
}
._avatarbuttonGroup>button{
	border:0;
	padding:0;
	background: none;
	border-top:1px solid #efefef;
	line-height: 48px;
	cursor:pointer;
}
._bluebutton{
	color:#3897f0;
	font-weight: 600;
}
._redbutton{
	color:#ed4956;
	font-weight: 600;
}
._editavatarloader{
	position: absolute!important;
	top:50%!important;
	left:50%!important;
	transform:translate(-50%,-50%)!important;
}
._jsklagjl{
	width:150px;
	height: 150px;
}
@media screen and (max-width:725px){
	._avatarbuttonlist{
		width: 260px;
	}
	._jsklagjl{
	width:75px;
	height: 75px;
}
}