

.flexitem{
  position: relative;
  display:inline-block;
  width:24.8%;
  height:200px;
 cursor:pointer;
  margin-bottom: 3px;
  flex-shrink: 1;
  

  
}
.flexitem img{
  width:100%;
  height:100%!important;
}
@media screen and (max-width: 876px){
  .flexitem{
     width:33%;
     height:auto;
     margin-bottom:2px;
     height:170px;
 }
  
}
@media screen and (max-width: 576px){
  .flexitem{
     width:33%;
     height:auto;
     margin-bottom:2px;
     height:100px;
 }

}
.whiteBlock{
  position:absolute;
  top:0;
   width:100%;
   height:100%;
   background: #E9E9E9;
}