._exml{
	width:100%;
	background: #262626;
	height:100%;
	position: fixed;
	display: flex;
	justify-content: center;
	animation:fadeIn 0.75s ease-in-out  1 normal;
}
._exmlmain{
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	
	position: relative;
	transform-style: preserve-3d;
	
}

._3dex{
	display: flex;
	box-sizing:content-box;
	width:300px;
	height:100%;
	border-right:46px solid transparent;
	border-left:46px solid transparent;
	border-bottom:46px solid transparent;
	backface-visibility: hidden;
	flex-direction: column;
	position: absolute;
	padding:20px 0;
	margin-bottom: 40px;
}
._3dexuser{
	display: flex;
	width:100%;
	padding:5px 1px;
	height:76px;
	align-items: center;
}
._3dhd{
	display: flex;
	align-items: center;
	
	padding-top:15px;
}
._3davatar{
	width:30px;
	height:30px;
}
._3dname{
	color:#fff;
	width: 100%;
	text-align: left;
}
._3dname>h1{
	width:100%;
	font-size: 13px;
}
._3dname>h1>span{
	color:#fff;
	font-size: 12px;
	opacity: 0.6;
	padding-left: 15px;
	font-weight: 400;
}
._3dbutton1{
	border: none;
	background-color: transparent;
	font-size: 26px;
	outline: none;
	cursor: pointer;
    position: absolute;
	right:-35px;
	color:white;
	font-weight:400;
}
._3dembed{
	position: relative;
	width:100%;
	height:100%;
	display: flex;
}
._3dbutton2{
	top:50%;
	right:-45px;
	font-weight: 600;
}
._3dbutton3{
	left:-45px;
	top:50%;
	font-weight: 600;
}
@media screen and (max-width:360px){
	._3dbutton1{
		right:0;
	}
	._3dbutton3{
		left:0;
	}
}
@keyframes fadeIn{
	from{
		background: white;
		opacity: 0;
	}
	to{

		background: #262626;
		opacity: 1;
	
	}
}
.rtl{
	transform:rotateY(0deg) translateZ(0px);
	
}
.rtl-enter{
	transform:rotateY(90deg)  translateZ(150px);
}
.rtl-enter-active{
	transition:all 0.5s ease-in-out;
	transform:rotateY(0deg)  translateZ(150px);
}
.rtl-exit{
	transform:rotateY(0deg)  translateZ(150px);
}
.rtl-exit-active{
	transform:rotateY(-90deg)  translateZ(150px);
	transition:all 0.5s ease-in-out;
}
.ltr{
	transform:rotateY(0deg) translateZ(150px);
 }
 .ltr-enter{
 	transform:rotateY(-90deg)  translateZ(150px);
 }
 .ltr-enter-active{
 	transition:all 0.5s ease-in-out;
	transform:rotateY(0deg)  translateZ(150px);
 }
 .ltr-exit{
 	transform:rotateY(0deg)  translateZ(150px);
 }
 .ltr-exit-active{
 	transform:rotateY(90deg)  translateZ(150px);
 	transition:all 0.5s ease-in-out;
 }
