._popup{
	position: fixed;
	bottom:-44px;
	left:50%;
	width:468px;
	height:44px;
	transform:translateX(-50%);
	background-color: #262626;
	color:white;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	padding:0 15px;
	
}
._popupc-enter{
	bottom:-44px;
	
}
._popupc-enter-active{
    bottom:0;
    transition:all 500ms ease-out;
}
._popupc-exit{
	bottom:0;
	
}
._popupc-exit-active{
    bottom:-44px;
    transition:all 500ms ease-out;
}
._popup>h4{
	font-size:15px;
	line-height: 44px;
	width:100%;
	letter-spacing:1px;
	font-weight: normal;
	height: 100%;

}
@media screen and (max-width:725px){
	._popupres{
		width:100%;
	}
}