._A1{
	padding-left:10px;
	border-left:1px solid black;
	font-size:1.5em;
	font-family:'Pacifico','cursive';
}
._A2{
	padding:10px;
}
.right{
	line-height: 85px;

}
.search2{
	margin:0 auto;
	
}
@media screen and (max-width: 986px){
	._A1{
	display: none;
}
   .search2{
   	width:100%;
   	top:0;
   	position: fixed!important;
   	
   }
}
