.videoItem{
  display:inline-block;
  width:calc((100% - 6px)/3);
  padding-top:calc((100% - 6px)*3/16);
  position: relative;
  cursor:pointer;
	padding-bottom:45px;
  flex-shrink: 1;
 height: 0;

}
.videoItem img{
	width:100%;
	height:100%;
	display: block;
}
.videotitle{
	text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin:0 0;
    overflow: hidden;/*超出部分隐藏*/
     white-space: nowrap;/*不换行*/
     text-overflow:ellipsis;/*超出部分文字以...显示*/
    
}
.videosubtitle{
  display:block;
  text-align:left;
  font-size:11px;
  font-weight: normal;
  color:#999;
  margin:0 0;

}
.conss{
	position: absolute;;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.videomodal{
	background:rgba(0,0,0,0.4);
	color:white;
	font-size: 11px;
	position:absolute;
	width:100%;
	height:100%;
	font-weight: bold;
	top:0;
	display: flex;
	align-items: center;

}
._vdimct{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-top:calc(100%*9/16);
	background-color: #f6f6f6;
	overflow:hidden;


}
._vdimBox{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
._videgroupH{
	line-height: 150px;
}

.videoinfo{
	position: absolute;
	bottom: 0;
	margin-bottom: 5px;
}
.videoinfo>span{
	padding-left: 10px;
}
@media screen and (max-width: 675px){
	.videoItem{
		width:100%;
		padding-top:56.25%;
	}
}